*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}
:root
{
    --container-width: 1800px;
    --container-padding: 80px;
    --primary-color: #f6f6f6;
    --secondary-color: #f2ede7;
    --accent-color: #cb9a4b;
    --secondary-font: font-family: "Golos Text", sans-serif;
}
html, body
{
    scroll-behavior: smooth;
}
body
{
    color: var(--primary-color);
}

.header-container
{
    max-width: var(--container-width);
    margin: 0 auto;
    width: 100%;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
}

.custom-navbar {
    background: #ffffff;
    padding: 18px 0;
    width: 0 auto;
    /* border-bottom: 1px solid #eee; */
}

/* Nav links */
.custom-navbar .nav-link
{
    font-family: "Golos Text", sans-serif;
    font-weight: 600;
    color: #111;
    font-size: 16px;
}

.custom-navbar .nav-link:hover {
    color: var(--accent-color);
}

/* Reservation Button */
.reservation-btn {
    background: var(--accent-color);
    color: #0d0d0d;
    padding: 10px 26px;
    border-radius: 50px;
    font-weight: 600;
    font-family: "Golos Text", sans-serif;
    border: none;
    transition: 0.3s ease;
}

.reservation-btn:hover {
    background: #5d4513;
    color: #fff;
}

/* Dropdown arrow styling */
.dropdown-toggle::after {
    font-size: 12px;
    margin-left: 6px;
}
.nav-item.dropdown > .dropdown-menu
{
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 4px;
}
.dropdown-item
{
    position: relative;
    font-family: "Golos Text", sans-serif;
    font-size: 14px;
    color: #2a2a2a;
    padding: 10px 20px;
}
.nav-item:not(:last-child)
{
    margin-right: 10px;
}
/* Control hero height */
.hero .carousel,
.hero .carousel-inner,
.hero .carousel-item,
.hero img {
    height: 100vh;
}

.hero img {
    object-fit: cover;
}

/* Overlay effect */
.hero .carousel-item::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.67);  /* dark overlay */
    z-index: 1;
}

.hero .carousel-caption {
    z-index: 2;
}
.carousel-caption h1
{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
}
.carousel-caption p
{
    font-family: "Golos Text", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #cccccc;
}


.room-card
{
    border: none;
    /* border-radius: 18px; */
    overflow: hidden;
}

.room-card .card-img-top{
    transition: transform 0.5s ease;
}

.room-card:hover .card-img-top{
    transform: scale(1.08);
}

.room-card img{
    height: 340px;
    object-fit: cover;
    border-radius: 18px;
}


/* Best selling badge */
.badge-tag{
    position: absolute;
    top: 20px;
    left: 20px;
    background: #d4a85f;
    color: #fff;
    padding: 6px 14px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
}

/* Meta info row */
.room-meta{
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 14px;
    color: #4d4d4d;
    margin-bottom: 12px;
}

/* Price */
.room-meta .price
{
    margin-left: auto;
    font-weight: 700;
    font-size: 18px;
    color: #000;
}

.room-meta .price span{
    font-size: 13px;
    color: #777;
}

/* Title */
.room-title{
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}
.icon
{
    disolay: flex;
    color: #000;
    text-decoration: none;
}
.icon i span
{
    text-decoration: none;
    font-size: 16px;
    color: #777;
}
.container
{
    max-width: 1500px;
}
.section-title
{
    text-align: center;
    margin-bottom: 70px;
}
.section-title h3
{
    color: var(--accent-color);
    font-size: 20px;
    font-family: "Golos Text", sans-serif;
    font-weight: 500;
}
.section-title h1
{
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 48px;
    color: #000;
}
.section-title p
{
    margin-bottom: 26px;
    font-size: 18px;
    font-family: "Golos Text", sans-serif;
    color: #595959;
}


.offers-full{
    background: #f6f1ea;
    width: 100%;
    padding: 80px 0;
}
.offers.container{
    max-width: 1500px;
}

.offer-card
{
    height: 100%;
    overflow: hidden;
    /* display: flex;
    /* flex-direction: column; */
    border-radius: 22px;
    transition: box-shadow 0.3s ease; 
}

.offer-img-wrapper{
    flex: 1;
    overflow: hidden;
}

.offer-img-wrapper img
{
    object-fit: cover;
}
.offer-card:hover{
    box-shadow: 0 20px 50px rgba(0,0,0,0.12);
}

/* Image */
.offer-card img{
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.offer-body{
    background: #5b4b43;
    color: #fff;
    padding: 30px;
    border-radius: 0 0 22px 22px;
    min-height: 130px;
}

.offer-body h2{
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 6px;
}

.offer-body p{
    margin: 0;
    height: 70px;
    font-size: 15px;
    opacity: 0.8;
}

/* Badge */
.offer-badge{
    position: absolute;
    top: 20px;
    left: 20px;
    background: #d4a85f;
    color: #fff;
    padding: 6px 14px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    z-index: 2;
}

/* Middle card top box */
.offer-top-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #5b4b43;
    color: #fff;
    padding: 30px;
    z-index: 2;
}

.offer-top-box h3{
    margin: 0;
    font-size: 28px;
    font-weight: 700;
}

.offer-top-box p{
    margin-top: 6px;
    opacity: 0.85;
    font-size: 15px;
}

.section-title h3{
    color: #a7814b;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
}

.section-title h1{
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 30px;
}

.section-title h2
{
    color: #000;
}

.date-badge{
    position: absolute;
    top: 20px;
    left: 20px;
    background: #57463f;
    color: #fff;
    padding: 6px 14px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    z-index: 2;
}
.card-img img
{
    border-radius: 14px;
}
.card-img .card-img-top{
    transition: transform 0.5s ease;
}
.card-img:hover .card-img-top{
    transform: scale(1.08);
}

.video-section{
    width: 100%;
}

.video-wrapper{
    width: 100%;
    height: 500px;              /* control height */
    position: relative;
    overflow: hidden;
}

.video-overlay{
    position: absolute;
    inset: 0;   /* top:0; right:0; bottom:0; left:0 */
    background: rgba(0, 0, 0, 0.56);  /* dark overlay */
    z-index: 1;
}

.video-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;          /* makes image cover full area */
}

/* Play button */
.icon
{
    display: flex;
}
.play-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 40px;     /* icon size */
    text-decoration: none;   /* removes underline */
    line-height: 1;          /* removes baseline gap */
     z-index: 2;
}

/* remove default anchor behavior */
.play-btn i{
    line-height: 1;
    margin-left: 3px;
}
.play-btn:hover{
    background: #ffffff;         /* fill the circle */
    color: #5a4a44;              /* icon color when filled */
    border-color: #ffffff;       /* keep border clean */
}

.footer-section{
  background: transparent;
  padding: 0px;
}

.footer-inner{
    max-width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5a4a44;
    border-radius: 40px;
    padding: 90px 60px 20px;    /* ⬅ padding INSIDE brown box */
    margin: 40px auto;              /* spacing from page edges */
}

.footer-bottom{
    padding: 6px 0 10px;   /* ⬅ less height */
    color:#fff;
    font-size:15px;
    text-align:center;
}

/* Social Icons */
.social-icons a{
  color: #bfb1a3;
  font-size: 18px;
  transition: 0.3s;
}

.social-icons a:hover{
  color: #fff;
}

/* Divider */
.footer-divider
{
    border-color: rgba(255,255,255,0.15);
    margin: 35px 0 10px;
}
